recursive-include imagedephi *.yaml *.j2

prune .github
prune docs
prune stubs
prune tests

exclude .editorconfig
exclude .git-blame-ignore-revs
exclude .gitattributes
exclude .gitignore
exclude tox.ini
