recursive-include imagedephi *.yaml *.j2

prune .github
prune stubs
prune tests

exclude .editorconfig
exclude .git-blame-ignore-revs
exclude .gitattributes
exclude .gitignore
exclude requirements.txt
exclude tox.ini
