<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Select Directory</title>
    <meta name="description" content="ImageDePHI GUI" />
    <meta name="keywords" content="" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script defer
            src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@7.1.96/css/materialdesignicons.min.css"
          rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.47.0/dist/full.css"
          rel="stylesheet"
          type="text/css" />
  </head>
  <body class="bg-base-300 flex justify-center min-h-screen">
    <div class="card bg-base-200 w-2/5 m-8">
      <div class="card-body">
        <div class="card-title flex justify-between">
          <span>Directory Selector</span>
          <form method="post" action="{{ url_for("redact") }}">
            <input type="hidden"
                   value="{{ input_directory_data.directory }}"
                   name="input_directory" />
            <input type="hidden"
                   value="{{ output_directory_data.directory }}"
                   name="output_directory" />
            <button type="submit" class="btn btn-primary btn-active">Select Current Directories</button>
          </form>
        </div>
        <div class="grow flex divide-x-2">
          <div class="basis-1/2 flex-none pr-8">{% include "InputSelectorWidget.html.j2" %}</div>
          <div class="basis-1/2 flex-none pl-8">{% include "OutputSelectorWidget.html.j2" %}</div>
        </div>
      </div>
    </div>
  </body>
</html>
