<!DOCTYPE html>
<html lang="en">

<head>
  <script src="https://cdn.tailwindcss.com"></script>
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@7.1.96/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/daisyui@2.47.0/dist/full.css" rel="stylesheet" type="text/css" />
  <title>Select Directory</title>
</head>

<body class="bg-base-300 flex justify-center min-h-screen">
  <form method="POST" , action="/directory_selection/" class="card bg-base-200 w-2/5 m-8">
    <div class="card-body">
      <div class="card-title flex justify-between">
        <span>Directory Selector</span>
        <button type="submit" class="btn btn-primary btn-active">
          Choose Directories
        </button>
      </div>
      <div class="grow flex divide-x-2">
        <div class="basis-1/2 flex-none pr-8">
          <h2 class="text-lg font-semibold">Input Directory</h2>
          <h3 class="mb-4 border-b-2">
            {% for bread_crumb in input_bread_crumbs %}
            <a class="text-blue-700 mr-1"
              href="/?input_directory={{ bread_crumb|urlencode }}/&output_directory={{ current_output|urlencode }}">
              {{ bread_crumb.name }}/
            </a>
            {% endfor %}
          </h3>
          <ul>
            {% for input in input_directories %}
            <li>
              <input type="radio" , id="{{ input_directory }}" , value="{{ input['directory_path'] }}" ,
                name="input_directory">
              <a class="text-blue-700"
                href="/?input_directory={{ input['directory_path']|urlencode }}/&output_directory={{ current_output|urlencode }}">
                {{ input['directory_path'].name }}/
              </a>

              <ul class="pl-3">
                {% for image in input['images'] %}
                <li>
                  <span class="mdi mdi-image" "></span>
                  {{ image.name }}
                </li>
                {% endfor %}
              </ul>
            </li>
            {% endfor %}
          </ul>
        </div>
        <div class=" basis-1/2 flex-none pl-8 ">
          <h2 class=" text-lg font-semibold">Output Directory</h2>
                    <h3 class="mb-4 border-b-2">
                      {% for bread_crumb in output_bread_crumbs %}
                      <a class="text-blue-700 mr-1"
                        href="/?input_directory={{ current_input|urlencode }}/&output_directory={{ bread_crumb|urlencode }}">
                        {{ bread_crumb.name }}/
                      </a>
                      {% endfor %}
                    </h3>
                    <ul>
                      {% for output in output_directories %}
                      <li>
                        <input type="radio" , id="{{ output_directory }}" , value="{{ output['directory_path'] }}" ,
                          name="output_directory">
                        <a class="text-blue-700"
                          href="/?input_directory={{ current_input|urlencode }}/&output_directory={{ output['directory_path']|urlencode }}">
                          {{ output['directory_path'].name }}/
                        </a>
                        <ul class="pl-3">
                          {% for image in output['images'] %}
                          <li>
                            <span class="mdi mdi-image" "></span>
                            {{ image.name }}
                          </li>
                          {% endfor %}
                        </ul>
                      </li>
                      {% endfor %}
                    </ul>
        </div>
      </div>
    </div>
  </form>
</body>

</html>
