<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <title>ImageDePHI</title>
    <meta name="description" content="ImageDePHI GUI" />
    <meta name="keywords" content="" />
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.47.0/dist/full.css"
          rel="stylesheet"
          type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css"
          rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
            "primary": "#5A387C",

            "secondary": "#00A6BF",

            "accent": "#FF6A6A",

            "neutral": "#201C35",

            "base-100": "#FFFFFF",

            "info": "#3ABFF8",

            "success": "#36D399",

            "warning": "#FBBD23",

            "error": "#F87272",

            "secondaryContent": "#E8F2F3",
          },
        },
      },
      daisyui: {
        themes: [
          {
            light: {

              "primary": "#5A387C",

              "secondary": "#00A6BF",

              "accent": "#FF6A6A",

              "neutral": "#201C35",

              "base-100": "#FFFFFF",

              "info": "#3ABFF8",

              "success": "#36D399",

              "warning": "#FBBD23",

              "error": "#F87272",

              "secondaryContent": "#E8F2F3",

            },
          },
        ],
      },
    }
    </script>
    <script type="text/javascript" src="js/redaction.js"></script>
  </head>
  <body class="bg-base-300 min-h-screen">
    <div class="flex">
      <!-- djlint:off-->
      <form method="post" action="{{ url_for('redact') }}"><!-- djlint:on -->
        <input type="hidden"
               value="{{ input_directory_data.directory }}"
               name="input_directory" />
        <input type="hidden"
               value="{{ output_directory_data.directory }}"
               name="output_directory" />
        <input type="checkbox" class="drawer-toggle" id="side-drawer" />
        <div class="flex max-w-md">
          <div class="pl-4 py-4 {{ 'opacity-50' if redacted==True  }}">
            <div class="bg-base-100 drop-shadow-xl rounded flex flex-col">
              <div class="flex justify-between content-center p-4 border-b">
                <div class="max-h6 w-auto self-center">
                  <img src="{{ url_for('assets', path='logo.png') }}" />
                </div>
                <div class="flex items-center space-y-0.5">
                  <a class="btn btn-ghost btn-square btn-sm">
                    <i class="ri-side-bar-line text-lg text-neutral"></i>
                  </a>
                </div>
              </div>
              {% include "InputStep.html.j2" %}
              {% include "OutputStep.html.j2" %}
              {% include "RulesetStep.html.j2" %}
              <button type="submit" class="btn btn-wide bg-accent m-auto" {{ 'disabled' if redacted}} id="dephi">De-phi
                images
              </button>
            </div>
          </div>
        </div>
        <input type="checkbox" id="input-modal" class="modal-toggle" />
        {% include "InputSelectorWidget.html.j2" %}
        <input type="checkbox" id="output-modal" class="modal-toggle" />
        {% include "OutputSelectorWidget.html.j2" %}
      </form>
      {# TODO make into a separate component #}
      <div class="px-8 py-4 hidden" id="redacting">
        <div class="hero bg-base-200 m-auto">
          <div class="hero-content text-center">
            <div>
              <h1 class="text-5xl font-bold">Redacting Images</h1>
            </div>
          </div>
        </div>
      </div>
      {% if redacted %}
        <div class="px-8 py-4">
          <div class="hero bg-base-200">
            <div class="hero-content text-center">
              <div>
                <h1 class="text-5xl font-bold">Redaction Successful</h1>
                <p class="ma-6">
                  We successfully performed a redaction on the images in {{
                  input_directory_data.directory
                  }}.
                  The redacted images are now in a new folder created in {{ output_directory_data.directory }}
                </p>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  </body>
</html>
