<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
  <title>ImageDePHI</title>
  <meta name="description" content="ImageDePHI GUI" />
  <meta name="keywords" content="" />
  <link href="https://cdn.jsdelivr.net/npm/daisyui@2.47.0/dist/full.css" rel="stylesheet" type="text/css" />
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet">
  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
            "primary": "#5A387C",

            "secondary": "#00A6BF",

            "accent": "#FF6A6A",

            "neutral": "#201C35",

            "base-100": "#FFFFFF",

            "info": "#3ABFF8",

            "success": "#36D399",

            "warning": "#FBBD23",

            "error": "#F87272",

            "secondaryContent": "#E8F2F3",
          },
        },
      },
      daisyui: {
        themes: [
          {
            light: {

              "primary": "#5A387C",

              "secondary": "#00A6BF",

              "accent": "#FF6A6A",

              "neutral": "#201C35",

              "base-100": "#FFFFFF",

              "info": "#3ABFF8",

              "success": "#36D399",

              "warning": "#FBBD23",

              "error": "#F87272",

              "secondaryContent": "#E8F2F3",

            },
          },
        ],
      },
    }
  </script>
</head>

<body class="bg-base-300">
  <div class="drawer drawer-mobile">
    <form method="post" action="{{ url_for('redact') }}">
      <input type="hidden" value="{{ input_directory_data.directory }}" name="input_directory" />
      <input type="hidden" value="{{ output_directory_data.directory }}" name="output_directory" />
      <input type="checkbox" class="drawer-toggle" id="side-drawer" />
      <div class="drawer-side pl-4 py-4">
        <div class="bg-base-100 drop-shadow-xl rounded">
          <div class="flex justify-between content-center p-4 border-b">
            <div class="max-h6 w-auto self-center">
              <img src="{{ url_for('assets', path='logo.png') }}" />
            </div>
            <div class="flex items-center space-y-0.5">
              <a class="btn btn-ghost btn-square btn-sm">
                <i class="ri-side-bar-line text-lg text-neutral"></i>
              </a>
            </div>
          </div>
          <div class="flex flex-col">
            {% include "SidebarInputStep.html.j2" %}
            {% include "SidebarOutputStep.html.j2" %}
            {% include "SidebarRulesetStep.html.j2" %}
            <button type="submit" class="btn btn-lg bg-accent mx-4">De-phi images</button>

          </div>

        </div>
      </div>
      {# make into a separate component #}
      <div class="drawer-content flex flex-col px-8 py-4"></div>

    </form>
  </div>

</body>

</html>
