<!DOCTYPE html>
<html lang="en" data-theme="light">

<head>
  <title>ImageDePHI</title>
  <meta name="description" content="ImageDePHI GUI" />
  <meta name="keywords" content="" />
  <link href="https://cdn.jsdelivr.net/npm/daisyui@2.47.0/dist/full.css" rel="stylesheet" type="text/css" />
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet">
  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
            "primary": "#5A387C",

            "secondary": "#00A6BF",

            "accent": "#FF6A6A",

            "neutral": "#201C35",

            "base-100": "#FFFFFF",

            "info": "#3ABFF8",

            "success": "#36D399",

            "warning": "#FBBD23",

            "error": "#F87272",

            "secondaryContent": "#E8F2F3",
          },
        },
      },
      daisyui: {
        themes: [
          {
            light: {

              "primary": "#5A387C",

              "secondary": "#00A6BF",

              "accent": "#FF6A6A",

              "neutral": "#201C35",

              "base-100": "#FFFFFF",

              "info": "#3ABFF8",

              "success": "#36D399",

              "warning": "#FBBD23",

              "error": "#F87272",

              "secondaryContent": "#E8F2F3",

            },
          },
        ],
      },
    }
  </script>
</head>

<body class="bg-base-300">
  <div class="drawer drawer-mobile">
    {# make into a separate component #}
    <input type="checkbox" class="drawer-toggle" />
    <div class="drawer-side pl-4 py-4">
      <div class="bg-base-100 drop-shadow-xl rounded">
        <div class="flex justify-between content-center p-4 border-b">
          <div class="max-h6 w-auto self-center">
            <img src="{{ url_for('assets', path='logo.png') }}" />
          </div>
          <div class="flex items-center space-y-0.5">
            <a class="btn btn-ghost btn-square btn-sm">
              <i class="ri-side-bar-line text-lg text-neutral"></i>
            </a>
          </div>
        </div>
        <div class="w-96 h-[136px] pt-2.5 bg-white flex-col justify-start items-start inline-flex">
          <div class="self-stretch px-4 py-3 bg-white justify-start items-center gap-2.5 inline-flex">
            <div class="w-6 h-6 bg-rose-100 rounded-[100px] justify-center items-center flex">
              <div class="w-6 h-6 text-red-400 text-sm font-semibold flex flex-wrap justify-center content-center">1
              </div>
            </div>
            <div class="grow shrink basis-0">
              <div class="grow shrink basis-0 flex flex-col">
                <span class="text-purple-900 text-sm font-semibold uppercase tracking-widest">Input
                  directory</span>
                <span class="text-gray-500 text-xs font-normal tracking-wide">Location of the
                  images you’d
                  like to process.</span>
              </div>
            </div>
            <div class="btn btn-sm btn-ghost bg-secondaryContent btn-square">
              <i class="ri-folder-open-fill text-secondary text-lg">

              </i>
            </div>
          </div>
          <div
            class="self-stretch h-[74px] px-5 pt-6 pb-10 bg-white border-b border-neutral-200 flex-col justify-start items-center flex">
            <div class="text-center text-gray-500 text-[14px] font-normal">No directory selected</div>
          </div>
        </div>
      </div>
    </div>
    {# make into a separate component #}
    <div class="drawer-content flex flex-col px-8 py-4"></div>
  </div>
</body>

</html>
