{% extends "BaseSelectorWidget.html.j2" %}
{% set directory_data = input_directory_data %}
{% set current_modal = "input_modal" %}
{% block selector_title %}
  Input Directory
{% endblock selector_title %}
{% block selected_url -%}
  {{ request.url.include_query_params(input_directory=directory_data.directory, modal='') }}
{%- endblock selected_url %}
{% block selector_ancestor_url -%}
  {{ request.url.include_query_params(input_directory=ancestor, modal='input_modal') }}
{%- endblock selector_ancestor_url %}
{% block selector_child_directory_url -%}
  {{ request.url.include_query_params(input_directory=child_directory, modal='input_modal') }}
{%- endblock selector_child_directory_url %}
