{% extends "BaseSelectorWidget.html.j2" %}
{% set directory_data = input_directory_data %}
{% block selector_title %}
  Input Directory
{% endblock selector_title %}
{% block selector_ancestor_query -%}
  input_directory={{ ancestor|urlencode }}&output_directory={{ output_directory_data.directory|urlencode }}
{%- endblock selector_ancestor_query %}
{% block selector_child_directory_query -%}
  input_directory={{ child_directory|urlencode }}&output_directory={{ output_directory_data.directory|urlencode }}
{%- endblock selector_child_directory_query %}
