{% extends "SidebarSteps.html.j2" %}
{% block step_number %}
  2
{% endblock step_number %}
{% block step_title %}
  Output Directory
{% endblock step_title %}
{% block step_help_text %}
  Location of the images after they are processed.
{% endblock step_help_text %}
{% block modal %}
  <label for="output-modal" class="btn btn-sm btn-ghost bg-secondaryContent btn-square" {{ 'disabled' if redacted}}>
    <i class="ri-folder-open-fill text-secondary text-lg"></i>
  </label>
{% endblock modal %}
{% block selected_path %}
  {% if output_directory_data.directory.name %}
    <div class="text-left text-gray-500 text-[14px] font-bold break-all pl-8">{{ output_directory_data.directory }}</div>
  {% else %}
    <div class="text-center text-gray-500 text-[14px] font-normal">No directory selected</div>
  {% endif %}
{% endblock selected_path %}
