{% extends "BaseSelectorWidget.html.j2" %}
{% set directory_data = output_directory_data %}
{% block selector_title %}
  Output Directory
{% endblock selector_title %}
{% block selector_ancestor_url -%}
  {{ request.url.include_query_params(output_directory=ancestor) }}
{%- endblock selector_ancestor_url %}
{% block selector_child_directory_url -%}
  {{ request.url.include_query_params(output_directory=child_directory) }}
{%- endblock selector_child_directory_url %}
