{% extends "SidebarSteps.html.j2" %}
{% block step_number %}
2
{% endblock step_number %}
{% block step_title %}
Output Directory
{% endblock step_title %}
{% block step_help_text %}
Location of the images after they are processed.
{% endblock step_help_text %}
