{% extends "SidebarSteps.html.j2" %}
{% block step_number %}
2
{% endblock step_number %}
{% block step_title %}
Output Directory
{% endblock step_title %}
{% block step_help_text %}
Location of the images after they are processed.
{% endblock step_help_text %}
{% block test %}
<label for="output-modal" class="btn btn-sm btn-ghost bg-secondaryContent btn-square">

  <i class="ri-folder-open-fill text-secondary text-lg"></i>
</label>
<input type="checkbox" id="output-modal" class="modal-toggle" />
<div class="modal {{ 'modal-open' if modal=='output_modal'}}" id="output_modal">
  <div class="w-full max-w-5xl h-4/5 rounded-xl overflow-hidden">
    <div class="modal-box w-full max-w-5xl h-full overflow-auto">
      <h3 class="font-bold text-lg">
        <p>{% include "OutputSelectorWidget.html.j2" %}</p>
      </h3>
      <a href="{{ request.url.include_query_params(output_directory=output_directory_data.directory, modal='') }}">
        <button class="btn bg-primary float-right" type="button">Select</button>
      </a>
    </div>
  </div>
</div>
{% endblock test %}

{% block selected_path %}
{% if output_directory_data.directory.name %}
<div class="text-center text-gray-500 text-[14px] font-bold">
  Selected directory:
</div>
<div class="text-center text-primary text-[16px] font-normal break-all">
  {{output_directory_data.directory}}
</div>
{% else %}
<div class="text-center text-gray-500 text-[14px] font-normal">
  No directory selected
</div>
{% endif %}{% endblock selected_path %}
