{% extends "SidebarSteps.html.j2" %}
{% block step_number %}
  3
{% endblock step_number %}
{% block step_title %}
  Rulesets
{% endblock step_title %}
{% block step_help_text %}
  RulesetsChoose a ruleset to apply to the processed images (you may choose one (1) preset and one (1) user-defined ruleset.
{% endblock step_help_text %}
