<div class="w-96 pt-2.5 bg-white flex-col justify-start items-start inline-flex">
  <div class="self-stretch px-4 py-3 bg-white justify-start items-center gap-2.5 inline-flex">
    <div class="w-6 h-6 bg-rose-100 rounded-[100px] justify-center items-center flex">
      <div class="w-6 h-6 text-red-400 text-sm font-semibold flex flex-wrap justify-center content-center">
        {% block step_number %}
        {% endblock step_number %}
      </div>
    </div>
    <div class="grow shrink basis-0">
      <div class="grow shrink basis-0 flex flex-col">
        <span class="text-purple-900 text-sm font-semibold uppercase tracking-widest">
          {% block step_title %}
          {% endblock step_title %}
        </span>
        <span class="text-gray-500 text-xs font-normal tracking-wide">
          {% block step_help_text %}
          {% endblock step_help_text %}
        </span>
      </div>
    </div>
    {% block modal %}
    {% endblock modal %}

  </div>
  <div class="self-stretch h-[74px] px-5 pb-10 bg-white border-b border-neutral-200 flex-col justify-start flex">
    {% block selected_path %}
    {% endblock selected_path %}
  </div>
</div>
