{% extends "SidebarSteps.html.j2" %}
{% block step_number %}
1
{% endblock step_number %}
{% block step_title %}
Input Directory
{% endblock step_title %}
{% block step_help_text %}
Location of the images you’d like to process.
{% endblock step_help_text %}
